[submodule "dotbot"]
	path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "bash_it"]
  path = bash_it
  url = https://github.com/revans/bash-it.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
  url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-color-solarized"]
  path = vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
  ignore = dirty
[submodule "zsh-customizations/plugins/zsh-syntax-highlighting"]
	path = zsh-customizations/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-customizations/themes/powerlevel9k"]
	path = zsh-customizations/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-livedown"]
	path = vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-jsonnet"]
	path = vim/bundle/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
