[submodule "dotbot"]
	path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "bash_it"]
  path = bash_it
  url = https://github.com/revans/bash-it.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
  url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-color-solarized"]
  path = vim/bundle/vim-colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
